button, .button {
    padding: rem(12) rem(32);
    font-size: rem(16);
    font-weight: 700;
    line-height: (20 / 16);
    text-align: center;
    border: none;
    background-color: $green;
    color: #fff;
    border-radius: rem(50);
    transition: border-radius .3s;
    cursor: pointer;
    &:hover, &:focus {
        border-radius: rem(10);
    }
}

.button.button--red {
    background-color: $red;
}
.button.button--blue {
    background-color: $blue;
}