.main-header {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 100%;
        transform: translateX(-50%);
        background-color: #fff;
        box-shadow: 0 1px 6px 1px rgba($color: #000000, $alpha: 0.1);
    }
    .button {
        position: relative;
    }
}

.main-logo {
    position: relative;
}

.main-menu__wrapper {
    position: relative;
    display: inline-block;
}

.main-menu__item {
    display: inline-block;
    margin-right: rem(24);
    a {
        font-weight: 400;
    }
}

.form-svg__wrapper {
    position: absolute;
    top: 0;
    right: rem(-32);
    width: 40%;
    height: 0;
    padding-top: 40%;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.form-image__wrapper {
    position: relative;
    max-width: 450px;
    width: 100%;
    margin-top: rem(32);
    margin: 0 auto;
    img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.services__introduction {
    text-align: center;
    @include media('large') {
        p {
            max-width: rem(500);
            margin: 0 auto;
        }
    }
}

.services__wrapper {
    padding-left: rem(64);
    padding-right: rem(64);
    @include media('large') {
        p {
            max-width: rem(580);
        }
    }
}

